<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muscle Rides</title>
    <link rel="icon" href="/assets/logo.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header><!-- Contenido del header -->
        <a title="Muscle Rides" href="/index.html"><img src="/assets/logo.png" alt="Muscle Rides" width="80"><h1 href="/index.html">Muscle Rides</h1></a>
    </header>
    <nav><!-- Navegación (links a las diferentes páginas) -->
        <a href="/templates/producto1.html"><button class="ford">Ford</button></a>
        <a href="/templates/producto2.html"><button class="chevrolet">Chevrolet</button></a>
        <a href="/templates/producto3.html"><button class="dodge">Dodge</button></a>
        <a href="/templates/contacto.html"><button class="contact">Contactanos</button></a>
    </nav>
    <main><!-- Contenido principal (cuerpo) de cada página -->
        <div class="card-product-container">
            <div class="card-product">
                <div class="image-box">
                    <img src="/assets/ford/Ford Mustang.jpg" alt="Ford Mustang">
                </div>
                <div class="content">
                    <h2>Mustang</h2>
                    <p>El Ford Mustang es un automóvil deportivo compacto lanzado por primera vez en 1964. Es conocido por su estilo icónico, su rendimiento robusto y su estatus como un emblema de los autos musculosos estadounidenses. Con varias generaciones, el Mustang ha ofrecido una gama de motores, desde eficientes V6 hasta potentes V8, y un diseño que ha evolucionado manteniendo su carácter distintivo.</p>
                </div>
            </div>
            <div class="card-product">
                <div class="image-box">
                    <img src="/assets/ford/Torino.avif" alt="Ford Torino">
                </div>
                <div class="content">
                    <h2>Torino</h2>
                    <p> El Ford Torino fue producido entre 1968 y 1976 y se ofreció en varias configuraciones, incluyendo sedanes, coupés y station wagons. Originalmente diseñado como un automóvil intermedio, el Torino fue conocido por su participación en carreras de autos y su variante de alto rendimiento, el Torino Cobra.</p>
                </div>
            </div>
        </div>
    </main>
    <footer><!-- Contenido del footer -->
        <a href="https://www.instagram.com/">
            <button><i class="fa-brands fa-instagram" id="instagram"></i></button>
        </a>
        <a href="https://www.facebook.com/">
            <button><i class="fa-brands fa-facebook" id="facebook"></i></button>
        </a>
        <a href="https://www.x.com/">
            <button><i class="fa-brands fa-x-twitter" id="x"></i></button>
        </a>
        <a href="https://www.youtube.com/">
            <button><i class="fa-brands fa-youtube" id="youtube"></i></button>
        </a>
        <br><br>
        Copyright © 2024 Muscle Rides by Emanuel Salvi <br>
        All rights reserved
    </footer>
</body>
</html>