<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Muscle Rides</title>
    <link rel="icon" href="/assets/logo.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header><!-- Contenido del header -->
        <a title="Muscle Rides" href="/index.html"><img src="/assets/logo.png" alt="Muscle Rides" width="80"><h1 href="/index.html">Muscle Rides</h1></a>
    </header>
    <nav><!-- Navegación (links a las diferentes páginas) -->
        <a href="/templates/producto1.html"><button class="ford">Ford</button></a>
        <a href="/templates/producto2.html"><button class="chevrolet">Chevrolet</button></a>
        <a href="/templates/producto3.html"><button class="dodge">Dodge</button></a>
        <a href="/templates/contacto.html"><button class="contact">Contactanos</button></a>
    </nav>
    <main><!-- Contenido principal (cuerpo) de cada página -->
        <div class="card-product-container">
            <div class="card-product">
                <div class="image-box">
                    <img src="/assets/dodge/Challenger.avif" alt="Dodge Challenger">
                </div>
                <div class="content">
                    <h2>Challenger</h2>
                    <p> El Dodge Challenger es un automóvil deportivo que debutó en 1970 y se convirtió en uno de los autos musculosos más emblemáticos de su época. Con un diseño retro-moderno, el Challenger ha mantenido su apariencia robusta y su rendimiento impresionante a través de sus generaciones.</p>
                </div>
            </div>
            <div class="card-product">
                <div class="image-box">
                    <img src="/assets/dodge/Charger.webp" alt="Dodge Charger">
                </div>
                <div class="content">
                    <h2>Charger</h2>
                    <p> El Dodge Charger, lanzado por primera vez en 1966, es un automóvil conocido por su diseño muscular y su potente desempeño. Originalmente concebido como un fastback de tamaño completo, el Charger ha evolucionado a lo largo de los años, manteniendo su imagen de alto rendimiento y estilo agresivo.</p>
                </div>
            </div>
        </div>
    </main>
    <footer><!-- Contenido del footer -->
        <a href="https://www.instagram.com/">
            <button><i class="fa-brands fa-instagram" id="instagram"></i></button>
        </a>
        <a href="https://www.facebook.com/">
            <button><i class="fa-brands fa-facebook" id="facebook"></i></button>
        </a>
        <a href="https://www.x.com/">
            <button><i class="fa-brands fa-x-twitter" id="x"></i></button>
        </a>
        <a href="https://www.youtube.com/">
            <button><i class="fa-brands fa-youtube" id="youtube"></i></button>
        </a>
        <br><br>
        Copyright © 2024 Muscle Rides by Emanuel Salvi <br>
        All rights reserved
    </footer>
</body>
</html>